.app-header {
  background-color: var(--clr2);
  color: var(--clr4);
  padding-inline: 1em;

  display: flex;
  justify-content: space-between;
  align-items: center;

  /* position: sticky;
  top: 0;
  z-index: 1; */

  height: var(--mainHeader);
}

.app-header h1 {
  margin: 0;
}

.app-header button.fa-grip-vertical {
  border: 0;
  border-radius: 50%;
  background-color: #ffffff00;

  position: fixed;
  top: calc(var(--mainHeader) / 2);
  transform: translate(0, -50%);
  right: .5rem;
  z-index: 2;
}

.app-header button.fa-grip-vertical[data-title]::after {
  bottom: -18px;
  left: 5px;
}

.app-header button.fa-grip-vertical:hover {
  background-color: var(--note3);
}

.app-header .app-nav>* {
  margin-inline-start: 1rem;
}
