.app-header {
  background-color: var(--clr5);
  color: var(--secondary-clr1);
  padding-inline: 1em;

  display: flex;
  justify-content: space-between;
  align-items: center;

  height: 4rem;
}

.app-header h1{
  margin: 0;
}

.app-header nav > *{
  margin-inline-start: 1rem;
}

@media(max-width: 720px) {
  .app-header {
    background-color: var(--clr3);
    color: var(--secondary-clr2);
  }
}
