.home-section{
    display: flex;
    justify-content: center;
    align-items: center;
}

.home-section:first-child{
    min-height: calc(100vh - var(--mainHeader));
}

.home-section:not(:first-child){
    min-height: 100vh;
}

.home-section:nth-child(1){
    color: var(--h1);
    background-color: var(--bgh1);
}

.home-section:nth-child(2){
    color: var(--h2);
    background-color: var(--bgh2);
}

.home-section:nth-child(3){
    color: var(--h1);
    background-color: var(--bgh1);
}

.home-section:nth-child(4){
    color: var(--h2);
    background-color: var(--bgh2);
}

.home-section .home-container{
    margin: 100px;
}

.home-section h1 {
    font-size: 50px;
    text-align: center;
}

.home-section h2 {
    font-size: 25px;
    text-align: center;
    text-transform: 40px;
}

.home-section .home-cards{
    display: flex;
    flex-direction: column;
}

.home-section .home-cards .text-cards{
    background: var(--bgh3);
    margin: 2em;
    padding: 2em;
}

.home-section .home-cards .text-cards h3{
    font-size: 30px;
    text-align: center;
    margin-block-end: 10px;
}

.reveal{
    position: relative;
    transform: translateY(150px);
    opacity: 0;
    transition: all 2s ease;
}

.reveal.active{
    transform: translateY(0);
    opacity: 1;
}


/* cards */

.home-section .home-cards.logos {
    display: flex;
    flex-direction: column;
    gap: 2.5em;
}

.logos a{
    display: flex;
    justify-content: center;
    align-items: center;
    /* width: 8em; */
    /* height: 8em; */
}

.logo-img{
    max-width: 7em;
    max-height: 7em;
    /* margin: 2em; */
    /* width: 100%; */
    /* height: 100%; */
}

/* creators */
.passport{
    border-radius: 50%;
}

.home-section .home-cards.creators {
    /* display: flex;
    flex-direction: column; */
    gap: 2.5em;
}

.logo-img h3 {
    margin-block-end: .5em;
    font-size: 15px;
    text-align: center;
}




/* media */
@media (min-width:40em){
    .logo-img{
        max-width: 12em;
        max-height: 12em;
    }

    .home-section h2{
        font-size: 50px;
    }

    .home-section .home-cards.logos {
        flex-direction: row;
        gap: 5em;
    }

    .home-section .home-cards.creators {
        flex-direction: row;
        gap: 5em;
    }

    .logo-img h3 {
        margin-block-end: 1em;
        font-size: 20px;
    }
}

@media (min-width: 900px){
    .home-section h1{
        font-size: 80px;
    }

    .home-section .home-cards{
        flex-direction: row;
    }

    .home-section .home-cards.logos {
        flex-direction: row;
        gap: 8em;
    }

    .logo-img{
        max-width: 15em;
        max-height: 15em;
    }

    .logo-img h3 {
        margin-block-end: 1em;
        font-size: 30px;
    }
}