.main-nav-layout {
    position: fixed;
    right: 1rem;
    top: calc(var(--mainHeader) - .3rem);
    min-width: 248px;
    min-height: 200px;
    padding: 20px 25px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    gap: 14px 13px;
    align-items: center;
    justify-items: center;
    box-shadow: 0 0 5px 2px #00000080;
    border-radius: .5em;
    background: var(--clr1);
    color: var(--clrmsg);

    z-index: 1;
}

.main-nav-layout .fa-house {
    font-size: 2.6rem;
    color: var(--secondary-clr1);
}

.main-nav-layout .fa-info {
    font-size: 2.6rem;
}

.main-nav-layout .main-nav-link {
    width: 100%;
    height: 100%;
    padding: 10px;
    display: grid;
    justify-items: center;
    gap: 3px;
    border-radius: 8px;
}

.main-nav-layout .main-nav-link:hover {
    background-color: var(--mail1);
}

.main-nav-layout .main-nav-link span{
   align-self: end;
}