.note-list ul {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 10px;

    padding: 5px;
    background-color: lightblue;
    list-style-type: none;
}
.note-list ul li{
    padding: 10px;
    background-color: lightcyan;
}