.color-palette {
    position: relative;
    width: 40px;
    height: 40px;

    position: absolute;
    top: 0;
    right: 0;

    /* z-index:1; */
}

.palette-edit.color-palette {

    position: absolute;
    top: 0;
    right: 40px;
    /* background-color: transparent; */


    /* z-index:1; */
}





.color-palette button {
    border: none;
    background-color: transparent;
}
form .color-palette button {
    border: none;
    background-color: transparent;
}

.palette {
    /* background-color: aquamarine; */
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    gap: .2em;

    width: 7em;
    height: 7em;
    padding: .2em;
    border-radius: .4em;
    box-shadow: 0px 0px 4px;
    background-color: var(--clr1);

    position: absolute;
    z-index: 1;
    /* transform: translateX(-50%); */
    right: 0;
    /* top: 45px; */

    /* display: none; */
}

.palette-edit .palette{
    top: 40px;
}

.color-palette .palette .btn-palette {
    border-radius: 50%;
    border: none;
    min-width: 0px;
    min-height: 0px;
}


.palette-li.color-palette{
    top: auto;
    bottom: .3em;
}

