
.note-list ul {
    columns: auto 12em;
    padding: 5px;
    /* background-color: lightblue; */
    list-style-type: none;
}
.note-list ul li{
    padding: 2px;
    /* background-color: lightcyan; */
}

.note-list li{
    border: 1px solid black;
    border-radius: .5rem;
    break-inside: avoid-column;
    position: relative;
    /* background-color: lightcyan; */
}

.note-list li:not(:first-of-type){
    margin-block-start: 1rem;
    /* background-color: lightcyan; */
}

.btn-pin{
    position: absolute;
    top: 0em;
    right: 0em;
}

.note-list li > button{
    opacity: 0;
    background-color: rgba(255, 0, 0, 0);
    border: none;
    transition: opacity 0.2s;
    padding: 0;
}
.note-list li:hover > button{
    opacity: 1;
}