.note-search > input{
    width: 90%;
    min-width: 300px;
    max-width: 500px;
    display: block;
    margin: 1rem auto;
    box-sizing: border-box;
    border: none;
    border-radius: .4rem;
    font-size: 16px;
    
    background-position: 10px 10px;
    background-repeat: no-repeat;
    padding: 12px 20px 12px 40px;
    transition: all 0.2s ease-in-out;

    background-color: #eee;
}

.note-search > input:focus {
    background-color: white;
    box-shadow: 0px 1px 4px -1px;
    border: none;
}

.note-search > input:focus-visible {
    outline: none;
}