
.note-list ul {
    columns: auto 12em;
    padding: 5px;
    /* background-color: lightblue; */
    list-style-type: none;
}
.note-list ul li{
    padding: 10px;
    /* background-color: lightcyan; */
}

.note-list li{
    border: 1px solid black;
    border-radius: .5rem;
    break-inside: avoid-column;
    /* background-color: lightcyan; */
}

.note-list li:not(:first-of-type){
    margin-block-start: 1rem;
    /* background-color: lightcyan; */
}