.note-add {
    display: grid;
    grid-template-rows: 1fr 3em;
}


.note-add form {
    width: clamp(200px, 80vw, 600px);
    /* min-height: 30vh; */
    margin: auto;
    /* margin-block-start: min(30%, 150px); */

    display: flex;
    /* flex-direction: column; */
    gap: .5em;


    padding: .5em;
    background-color: var(--clr1);
    border-radius: .3em;
    box-shadow: 0 1px 2px 0 rgb(60 64 67 / 30%), 0 2px 6px 2px rgb(60 64 67 / 15%);

    position: relative;
}

.note-add form.show-all{
    flex-direction: column;
}

.note-add .btn-save {
    border-radius: .4rem;
    border: none;
    background-color: var(--clr2);
    width: 5em;
    position: absolute;
    bottom: .5em;
    right: .5em;
}

.note-add form > input {
    padding: .6em;
    width: 100%;
    display: block;
    border: none;
    border-radius: .4rem;
    font-size: 16px;
    transition: all 0.2s ease-in-out;
    background-color: var(--clr1);
}

.note-add form>input:focus {
    /* background-color: white; */
    box-shadow: 0 1px 2px 0 rgb(60 64 67 / 30%), 0 2px 6px 2px rgb(60 64 67 / 15%);
    border: none;
}

.note-add form>input:focus-visible {
    outline: none;
}

.note-edit-type {
    text-align: center;
    display: flex;
    gap: 1.5em;
    align-items: center;
    position: relative;
    height: 0;
    margin-block-start: 2em;
    margin-inline-start: 1em;
}

.note-edit-type>input {
    display: none;
}

.note-edit-type>label {
    font-size: 1em;
    margin-bottom: 2rem;
    /* scale: 1.1; */
    transition: all 0.2s;
}

.note-edit-type>label:hover {
    scale: 1.1;
    cursor: pointer;
}

.note-edit-type>input:checked+label {
    scale: 1.2;
    color: black;
}


