.note-search{
    height: fit-content;
}

.note-search > input{
    width: 90%;
    max-width: 600px;
    height: 3em;
    display: block;
    margin: .5em auto;
    box-sizing: border-box;
    border: none;
    border-radius: .4rem;
    font-size: 16px;
    
    background-position: 10px 10px;
    background-repeat: no-repeat;
    padding: 12px 20px 12px 40px;
    transition: all 0.2s ease-in-out;

    background-color: #eee;
}

.note-search > input:focus {
    background-color: white;
    box-shadow: 0 1px 2px 0 rgb(60 64 67 / 30%), 0 2px 6px 2px rgb(60 64 67 / 15%);
    border: none;
}

.note-search > input:focus-visible {
    outline: none;
}