.btn-add-note{
    margin-inline: auto;
    height: clamp(10px, 10vh, 40px);
    width: clamp(10px, 10vw, 60px);
    border-radius: 1em;
    border: 1px solid black;
    box-shadow: 0px 0px 6px -2px;
}

.note-index{
    display: grid;
    grid-template-columns: 80px 1fr;
    grid-template-rows: 80px 1fr;
    min-height: calc(100vh - 100px);
}

.note-index{
    display: grid;
    grid-template-columns: 80px 1fr;
    grid-template-rows: 80px 1fr;
    grid-template-areas: 
    "h h"
    "n m";
}



.note-nav {
    grid-area: n;
}

.note-header {
    grid-area: h;
    
}

.note-main {
    grid-area: m;
    background-color: #f5f5f5;
}

.pin-title{
    margin: .5em;
}

