.btn-add-note{
    margin-inline: auto;
    height: clamp(10px, 10vh, 40px);
    width: clamp(10px, 10vw, 60px);
    border-radius: 1em;
    border: 1px solid black;
    box-shadow: 0px 0px 6px -2px;
}

.note-index{
    display: grid;
    grid-template-rows: 4em 1fr;
    grid-template-areas: 
    "h"
    "m";

    background-color: var(--clr1);
    min-height: calc(100vh - 100px);
}

.note-nav {
    grid-area: n;
}

.note-header {
    grid-area: h;
    border-bottom: 1px solid var(--clr2);
    position: sticky;
    top: 0;
    z-index: 1;
    background-color: var(--clr1);

    display: grid;
    grid-auto-flow: column;
    grid-template-columns: min-content 1fr;
}

.note-main {
    grid-area: m;
    margin-block-start: 1em;
}

.note-main h3{
    font-size: 1em;
    margin-inline: 1em ;
}

.pin-title{
    margin: .5em;
}

@media(min-width: 40em) {
    .note-main {
        padding-inline-end: clamp(0px, 4vw ,80px);
        margin-block-start: 2em;
        padding-inline: 1em;
    }
    .note-index{
        grid-template-columns: 80px 1fr;
        grid-template-areas: 
        "h h"
        "n m";    
    }
}