.note-nav{
    position: relative;
}

.note-filter {
    text-align: center;
    display: flex;
    flex-direction: column;
    position: sticky;
    top: calc(var(--mainHeader) + 1rem);
    margin-block-start: .5em;
    padding-block-start: 2em;
    background-color: var(--clr1);
    box-shadow: 1px 2px 3px;
    border-radius: 0px 0px .5em 0px;
}

.note-filter > input {
    display: none;
}

.note-filter > label{
    position: relative;
    font-size: 1.2rem;
    margin-bottom: 2rem;
    /* scale: 1.1; */
    transition: all 0.2s;
    width: 2.5em;
    height: 2.5em;
    border-radius: 50%;
    margin-inline: auto;
    padding: auto;
    /* scale: 1.3; */
}

.note-filter > label::before{
    position: absolute;
    transform: translate(-50%, 50%);
    bottom: 50%;
}


.note-filter > label:hover{
    /* scale: 1.2; */
    cursor: pointer;
    /* width: 2.2em; */
    /* height: 2.2em; */
    background-color: var(--clr2);
}

.note-filter > input:checked + label{
    scale: 1.1;
    /* width: 2.5em; */
    /* height: 2.5em; */
    color: black;
    background-color: var(--note1);
}


@media(min-width: 40em) {
    .note-filter {
        margin-block-start: 2em;
        padding-block-start: 0;
        box-shadow: none;
    }
}