

.note-list ul {
    columns: auto 8em;
    padding: 5px;
    list-style-type: none;
}

.note-list li{
    border: 1px solid var(--note3);
    border-radius: .5rem;
    break-inside: avoid-column;
    position: relative;
    padding-block: 0.3em;
}

.note-list li:hover{
    box-shadow: 0 1px 2px 0 rgb(60 64 67 / 30%);
    cursor: pointer;
}

.note-list li:not(:first-of-type){
    margin-block-start: 1rem;
}

.btn-pin{
    position: absolute;
    top: 0em;
    right: 0em;
}

.note-list li > button{
    opacity: 0;
    background-color: rgba(255, 0, 0, 0);
    border: none;
    transition: opacity 0.2s;
    padding: 0;
}
.note-list li:hover > button{
    opacity: 1;
}


@media(min-width: 40em) {
    .note-list ul {
        columns: auto 12em;
    }
    
}