
.note-list ul {
    columns: auto 12em;
    padding: 5px;
    /* background-color: lightblue; */
    list-style-type: none;
}
.note-list ul li{
    padding: 2px;
    /* background-color: lightcyan; */
}

.note-list li{
    border: 1px solid black;
    border-radius: .5rem;
    break-inside: avoid-column;
    position: relative;
    /* background-color: lightcyan; */
}

.note-list li:not(:first-of-type){
    margin-block-start: 1rem;
    /* background-color: lightcyan; */
}

.btn-pin{
    position: absolute;
    top: .5em;
    right: .5em;
    background-color: none;
}

.note-list li .btn-pin{
    opacity: 0;
    transition: opacity 0.2s;
}
.note-list li:hover .btn-pin{
    opacity: 1;
}