.note-edit {
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0, 0, 0);
    background-color: rgba(0, 0, 0, 0.4);
    transition: all 1s;
}


.note-edit form {
    width: clamp(200px, 95vw, 400px);
    min-height: 50vh;
    margin: auto;
    margin-block-start: min(30%, 150px);

    display: flex;
    flex-direction: column;
    gap: .5em;

    padding: 10px;
    background-color: var(--clr1);
    border-radius: .3em;
    

    position: relative;
}

.note-edit form button {
    border-radius: .4rem;
    border: 1px solid black;
    border: none;
    background-color: var(--clr2);
}

.note-edit form button:first-child {
    position: absolute;
    right: .2em;
    top: .2em;
}

.note-edit .btn-save {
    width: 95%;
    position: absolute;
    /* bottom: .5em; */
    transform: translate(50%, 0);
    bottom: .5em;
    right: 50%;
}

.note-edit form>input {
    width: 100%;
    display: block;
    border: none;
    border-radius: .4rem;
    font-size: 16px;
    transition: all 0.2s ease-in-out;
    background-color: var(--clr1);
}

.note-edit form>input:focus {
    /* background-color: white; */
    box-shadow: 0 1px 2px 0 rgb(60 64 67 / 30%), 0 2px 6px 2px rgb(60 64 67 / 15%);
    border: none;
}

.note-edit form>input:focus-visible {
    outline: none;
}

.note-edit-type {
    text-align: center;
    display: flex;
    gap: 1.5em;
}

.note-edit-type>input {
    display: none;
}

.note-edit-type>label {
    font-size: 1.2rem;
    margin-bottom: 2rem;
    /* scale: 1.1; */
    transition: all 0.2s;
}

.note-edit-type>label:hover {
    scale: 1.1;
    cursor: pointer;
}

.note-edit-type>input:checked+label {
    scale: 1.5;
    color: black;
}