.note-add {
    display: grid;
    margin-block-end: 1.5em;
    margin-inline: .5em ;
    padding-inline: 1em;
}

.note-add form {
    display: flex;
    gap: 1em;

    width: clamp(0px, 100%, 600px);
    margin: auto;
    padding: .5em;
    background-color: var(--clr1);
    border-radius: .3em;
    box-shadow: 0 1px 2px 0 rgb(60 64 67 / 30%), 0 2px 6px 2px rgb(60 64 67 / 15%);

    position: relative;
}

.note-add form.show-all {
    flex-direction: column;
}

.note-add .btn-save {
    border-radius: .4rem;
    border: none;
    background-color: var(--clr2);
    width: 5em;
    position: absolute;
    bottom: .5em;
    right: .5em;
}

.note-add .btn-add-Todo {
    border-radius: .4rem;
    border: none;
    background-color: var(--clr2);
    position: absolute;
    top: 4.5em;
    right: .5em;
}

.input-add-todo  {
    max-width: calc(100% - 40px);
}

.note-add form>input {
    padding: .6em;
    width: 100%;
    display: block;
    border: none;
    border-radius: .4rem;
    font-size: 16px;
    transition: all 0.2s ease-in-out;
    background-color: var(--clr1);
}

.note-add form>input:first-child {
    max-width: calc(100% - 40px)
}

.note-add form>input:focus {
    box-shadow: 0 1px 2px 0 rgb(60 64 67 / 30%), 0 2px 6px 2px rgb(60 64 67 / 15%);
    border: none;
}

.note-add form>input:focus-visible {
    outline: none;
}

.note-edit-type {
    display: none;
    text-align: center;
    gap: 1.5em;
    align-items: center;
    position: relative;
    height: 0;
    margin-block-start: 2em;
    margin-inline-start: .5em;
}

.note-add form.show-all .note-edit-type {
    display: flex;
}

.note-edit-type>input {
    display: none;
}

.note-edit-type>label {
    font-size: 1em;
    margin-bottom: 2rem;
    transition: all 0.2s;
}

.note-edit-type>label:hover {
    scale: 1.1;
    cursor: pointer;
}

.note-edit-type>input:checked+label {
    scale: 1.2;
    color: black;
}

@media (min-width: 40em) {
    .note-edit-type {
        display: flex;
    }
}