

.note-filter {
    text-align: center;
    display: flex;
    flex-direction: column;
}

.note-filter > input {
    display: none;
}


.note-filter > label{
    font-size: 1.2rem;
    margin-bottom: 2rem;
    /* scale: 1.1; */
    transition: all 0.2s;
}
.note-filter > label:hover{
    scale: 1.2;
    cursor: pointer;
}

.note-filter > input:checked + label{
    scale: 1.5;
    color: black;
}