/* Setup */
@import 'setup/vars.css';
@import 'setup/typography.css';

/* Base */
@import 'base/base.css';
@import 'base/helpers.css';
@import 'base/layout.css';
@import 'base/forms.css';

/* General Components */
@import 'cmps/HomePage.css';
@import 'cmps/AppHeader.css';
@import 'cmps/UserMsg.css';


/* Apps */

/* mail Components */
@import 'apps/mail/MailIndex.css';

@import 'apps/mail/MailList.css';
@import 'apps/mail/MailFolderList.css';

/* Note Components */
@import 'apps/note/NoteIndex.css';

@import 'cmps/NoteList.css';
@import 'cmps/NotePreview.css';
@import 'cmps/NoteEdit.css';

