/* Setup */
@import 'setup/vars.css';
@import 'setup/typography.css';

/* Base */
@import 'base/base.css';
@import 'base/helpers.css';
@import 'base/layout.css';
@import 'base/forms.css';

/* General Components */
@import 'cmps/HomePage.css';
@import 'cmps/AppHeader.css';
@import 'cmps/MainNav.css';
@import 'cmps/AppFooter.css';
@import 'cmps/UserMsg.css';


/* Apps */

/* mail Components */
@import 'apps/mail/MailIndex.css';

@import 'apps/mail/MailList.css';
@import 'apps/mail/MailFolderList.css';
@import 'apps/mail/MailCompose.css';
@import 'apps/mail/mailHeader.css';
@import 'apps/mail/MailDetails.css';
@import 'apps/mail/MailFilter.css';

/* Note Components */
@import 'apps/note/NoteIndex.css';

@import 'apps/note/NoteList.css';
@import 'apps/note/NotePreview.css';
@import 'apps/note/NoteEdit.css';
@import 'apps/note/NoteAdd.css';
@import 'apps/note/NoteFilter.css';
@import 'apps/note/NoteSearch.css';
@import 'apps/note/NoteHamburger.css';
@import 'apps/note/ColorPalette.css';
@import 'apps/note/NoteTodo.css';

