.mail-list {
    padding: 10px;
}

.mail-list ul >*:first-child {
    border-top: 1px solid var(--clr4);
}

.mail-preview {
    display: grid;
    grid-template-columns: 5% 20% 65% 10%;
    align-items: center;
    cursor: pointer;
    background-color: var(--gray1);
    padding: 8px;
    border-bottom: 1px solid var(--clr4);
    opacity: 0.8;
    transition: 0.2s;
}

.mail-preview.isRead {
    background-color: var(--mail1);
}

.mail-preview i.fa-star {
    height: 100%;
    display: grid;
    align-items: center;
}

.mail-preview:hover {
    border-radius: 2px;
    box-shadow: 0 0 1px black;
    opacity: 1;
}

.mail-preview ul {
    display: flex;
    align-items: flex-end;
    margin: 0 0 7px;
}

.mail-preview h2 {
    font-size: 1.1rem;
    margin: 0;
}

.mail-preview h3 {
    margin: 0;
    font-size: .8rem;
}


@media(max-width: 1100px) {
    .mail-preview h2 {
        font-size: .9rem;
    }

    .mail-preview h3 {
        font-size: .7rem;
    }
}

@media(max-width: 600px) {
    .mail-preview {
        grid-template-columns: 1fr 20%;
        grid-template-rows: 30% 1fr;

    }

    .mail-preview h2 {
        grid-column: 1;
        grid-row: 1;
        margin-bottom: 6px;
    }

    .mail-preview >h3:first-child {
        grid-column: 1;
        grid-row: 2;
    }

    .mail-preview >h3:last-child {
        grid-column: 2;
        grid-row: 1;
        justify-self: end;
    }

    .mail-preview i.fa-star {
        grid-column: 2;
        grid-row: 2;
        justify-self: end;
    }
}