.mail-index {
    height: calc(100vh - 140px);
    display: grid;
    grid-template-columns: 200px 1fr;
    grid-template-rows: 100px 1fr;
}

.main-mail-header {
    grid-column: span 2;
    display: grid;
    grid-template-columns: 200px 1fr;
    padding: 20px 0;
    width: 100%;
    height: 100%;
    background-color: var(--mailBase);
    justify-items: center;
    align-content: center;
    align-items: center;
}

.mail-logo {
    display: flex;
    align-items: center;
}

.mail-logo-img {
    height: 50px;
    width: 60px;
    background-image: url(https://ssl.gstatic.com/gb/images/sprites/p_1x_451184c1472c.png);
    background-position-y: 885px;
}

.main-mail-header h1 {
    margin: 0;
    font-family: cursive;
    font-size: 1.6rem;
}

.mail-list li {
    position: relative;
}

.mail-list .mail-btn-remove {
    position: absolute;
    min-width: 0;
    min-height: 0;
    width: 22px;
    top: 10px;
    height: 23px;
    right: 10px;

    transition: opacity .2s;
    opacity: 0;
}

.mail-list .mail-btn-unRead {
    position: absolute;
    min-width: 0;
    min-height: 0;
    width: 33px;
    height: 23px;
    top: 10px;
    right: 36px;

    transition: opacity .2s;
    opacity: 0;
}

.mail-btn-unRead[data-title]:hover::after {
    left: -4.7em;
    bottom: 1px;
}

.mail-btn-remove[data-title]:hover::after {
    left: -4.7em;
}

.mail-list li:hover .mail-btn-remove,
.mail-list li:hover .mail-btn-unRead {
    opacity: 1;
}

.mail-folder-list {
    background-color: var(--mailBase);
}

.mail-filter input{
    width: 90%;
    min-width: 300px;
    max-width: 500px;
    display: block;
    margin: 1rem auto;
    box-sizing: border-box;
    border: none;
    border-radius: 0.4rem;
    font-size: 16px;
    background-position: 10px 10px;
    background-repeat: no-repeat;
    padding: 12px 20px 12px 40px;
    transition: all 0.2s ease-in-out;
    background-color: #eee;
}