.mail-list {
    padding: 10px;
}

.mail-preview {
    cursor: pointer;
    background-color: var(--gray1);
    padding: 8px;
    border-top: 1px solid var(--clr4);
    /* margin-bottom: 10px; */
    border-bottom: 1px solid var(--clr4);
    opacity: 0.8;
    transition: 0.2s;
}

.mail-preview.isRead {
    background-color: var(--mail1);
}

.mail-preview:hover {
    border-radius: 2px;
    box-shadow: 0 0 1px black;
    opacity: 1;
}

.mail-preview ul {
    display: flex;
    align-items: flex-end;
    margin: 0 0 7px;
}

.mail-preview h2 {
    font-size: 1.3rem;
    /* line-height: 1.3rem; */
    margin: 0;
}