.mail-index {
    height: var(--appHeight);
    display: grid;
}

.mail-index.open {
    grid-template-columns: 200px 1fr;
    grid-template-rows: minmax(60px, auto) 1fr;
}

.mail-index.close {
    grid-template-columns: auto 1fr;
    grid-template-rows: minmax(60px, auto) 1fr;
}


.mail-list li {
    position: relative;
}

.mail-list .mail-btn-remove {
    position: absolute;
    min-width: 0;
    min-height: 0;
    width: 27px;
    top: 10px;
    height: 23px;
    right: 10px;

    transition: opacity .2s;
    opacity: 0;
}

.mail-list .mail-btn-unRead {
    position: absolute;
    min-width: 0;
    min-height: 0;
    width: 33px;
    height: 23px;
    top: 10px;
    right: 42px;

    transition: opacity .2s;
    opacity: 0;
}

.mail-btn-unRead[data-title]:hover::after {
    left: -60px;
    bottom: -21px;
}

.mail-btn-remove[data-title]:hover::after {
    left: -4.7em;
}

.mail-list li:hover .mail-btn-remove,
.mail-list li:hover .mail-btn-unRead {
    opacity: 1;
}

.mail-folder-list {
    background-color: var(--mailBase);
}

@media(max-width: 1100px) {
    .mail-list li .mail-btn-remove,
    .mail-list li .mail-btn-unRead {
        top: 7px;
    }
}