.mail-compose {
    position: fixed;
    display: grid;
    min-width: 300px;
    max-width: 500px;
    max-height: 540px;
    width: calc(100vw - 95px);
    height: calc(100vh - var(--mainHeader) - 1em) ;
    bottom: 8px;
    right: 30px;
    background-color: var(--clr2);
    box-shadow: 0px 0px 3px 0px black;
    border-radius: 5px;
    padding: 6px;
    z-index: 2;
}

.mail-compose .compose-header {
    background-color: var(--mail-1);
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.mail-compose form {
    display: grid;
    grid-template-rows: repeat(3, auto) 1fr auto;
    gap: 3px;
}


.mail-compose form>:focus-visible {
    outline: none;
}

.mail-compose form .btn-sand {
    background-color: var(--mail3);
    border-radius: 555px;
    width: 95px;
    height: 8px;
    align-self: end;
    color: var(--clr2);
    font-weight: 700;
    font-size: 1.1rem;
}

.mail-compose form .btn-sand:hover {
    box-shadow: 0 0 3px var(--clr4);
}

.mail-compose form .btn-close {
    background-color: var(--mail-1);
    border-radius: 555px;
    min-height: 0;
    min-width: 10px;
    border: 0;
}

.mail-compose form h2 {
    margin: 0;
    padding-inline-start: 10px;
    padding-block: 5px;
}

.mail-compose form>* {
    border: 0;
}

.mail-compose form>*:focus-visible {
    box-shadow: 0 0 1px black;
}


@media(max-width: 40em) {
    .mail-compose{
        max-height: none;
        max-width: none;
        right: 5px;
    }
}