.main-mail-header {
    grid-column: span 2;
    display: grid;
    grid-template-columns: 200px 1fr;
    padding: 20px 0;
    width: 100%;
    height: 100%;
    background-color: var(--mailBase);
    justify-items: center;
    align-content: center;
    align-items: center;
}

.mail-logo {
    display: flex;
    align-items: center;
}

.mail-logo-img {
    height: 50px;
    width: 60px;
    background-image: url(https://ssl.gstatic.com/gb/images/sprites/p_1x_451184c1472c.png);
    background-position-y: 885px;
}

.main-mail-header h1 {
    margin: 0;
    font-family: cursive;
    font-size: 1.6rem;
}

.mail-filter {
    display: flex;
    align-items: center;
    gap: 8px;
    position: relative;
}

.mail-filter button.fa-solid.fa-filter {
    border-radius: 50%;
    border: 0;
    background-color: var(--mailBase);

    transition: background-color .4s;
}

.mail-filter button.fa-solid.fa-filter:hover {
    background-color: var(--clr2);
}

.mail-filter .filter-options {
    display: grid;
    justify-items: center;
    position: absolute;
    background-color: var(--mailBase);
    box-shadow: 0 0 2px black;
    top: 52px;
    right: -100px;
    z-index: 1;
    width: 250px;
}

.mail-filter .filter-options button {
    background-color: var(--mailBase);
    border: 0;
    font-size: 1.1em;
    color: var(--clr4);
}

.filter-active{
    color: var(--clr5);
    text-decoration: underline;
    font-weight: 600;
}

.mail-filter input {
    width: 90%;
    min-width: 300px;
    max-width: 500px;
    display: block;
    margin: 1rem auto;
    box-sizing: border-box;
    border: none;
    border-radius: 0.4rem;
    font-size: 16px;
    background-position: 10px 10px;
    background-repeat: no-repeat;
    padding: 12px 20px 12px 40px;
    transition: all 0.2s ease-in-out;
    background-color: #eee;
}

.mail-filter>input:focus {
    background-color: white;
    box-shadow: 0px 1px 6px -1px;
    border: none;
}

.mail-filter>input:focus-visible {
    outline: none;
}