.mail-folder-list {
    text-align: center;
}

.mail-folder-list ul {
    /* transition: 1s; */
}

.mail-folder-list ul li {
    display: grid;
    grid-template-columns: 20% 62% 18%;
    font-size: 1.3em;
    cursor: pointer;
    margin: 0 0 .5em;
    padding-left: var(--mailPageStart);
    justify-items: start;
    align-items: center;
    padding-block: 7px;
    font-size: 1.1rem;
}

.mail-folder-list li i.fa-star::before{
    color: var(--clr4);
}

.mail-folder-list ul li:hover:not(:first-child) {
    background-color: var(--mail1);
    border-top-right-radius: 555px;
    border-bottom-right-radius: 555px;
}

.mail-folder-list ul li:first-child:hover {
    box-shadow: 0 0 1px 2px #0000001f;
}

.mail-folder-list ul li.active-folder{
    background-color: var(--mail1);
    border-top-right-radius: 555px;
    border-bottom-right-radius: 555px;
}

.mail-folder-list li i {
    margin-inline-end: 20px;
}

.mail-folder-list li:first-child {
    margin: 0.5em 0 1.5em;
    background-color: var(--mail2);
    border-radius: 20px;
    padding-block: 10px;
}
