:root {
  --clr1: rgb(255, 255, 255);
  --clr2: rgb(240, 240, 240);
  --clr3: rgb(155, 155, 155);
  --clr4: rgb(96, 96, 96);
  --clr5: rgb(0, 0, 0);


  --secondary-clr1: rgb(88, 201, 58);
  --secondary-clr2: rgb(122, 7, 70);

  /* Mail */

  /* colors */
  --clrmsg: #202124;

  --mail3: #0b57d0;
  --mail2: #c2e7ff;
  --mail1: #d3e3fd;
  --mailBase: #f6f8fc;
  --mail-1: #f2f6fc;


  --note4: #eee;
  --note3: #e0e0e0;
  --note2: #f1f3f4;
  --note1: #feefc3;

  --h1: #202124;
  --bgh1: rgb(240, 240, 240);
  --h2: rgb(240, 240, 240);
  --bgh2: #202124;
  --bgh3: rgb(155, 155, 155);

  /* layout */
  --mainHeader: 64px;
  --mainFooter: 100px;

  --appHeight: calc(100vh - var(--mainHeader));
  /* mail */
  --mailPageStart: 25px;

}