/* flex helpers */

.flex {
    display: flex;
}

.flex.flex-column {
    flex-direction: column;
}

.flex.justify-center {
    justify-content: center;
}

.flex.justify-between {
    justify-content: space-between;
}

.flex.align-center {
    align-items: center;
}

/* text helpers */

.colored-text {
    color: solid var(--clr5);
}

/* list helpers */

.clean-list {
    padding: 0;
    margin: 0;
    list-style-type: none;
}

/* font awsome */

.fa {
    font-family: fa;
}

.fa.fa-facebook::before {
    content: "\f39e";
}

.fa.fa-twitter::before {
    content: "\f099";
}

.fa.fa-dribbble::before {
    content: "\f17d";
}

.fa.fa-behance::before {
    content: "\f1b4";
}

.fa-solid.fa-star::before {
    color: #f3d529;
}

.google-logos {
    height: 50px;
    width: 64px;
    background-image: url(https://ssl.gstatic.com/gb/images/sprites/p_1x_451184c1472c.png);
    margin: 0;
}

.logo-keep {
    background-position-y: 816px;
}

.logo-gmail {
    background-position-y: 885px;
}

.logo-book {
    background-position-y: 400px;
}

[data-title] {
    position: relative;
}

[data-title]:hover::after {
    content: attr(data-title);
    position: absolute;
    font-family: arial;
    font-size: 12px;
    font-weight: 400;
    background: #333;
    color: #fff;
    padding: 0.2em;
    border-radius: 0.2em;
    text-transform: capitalize;
    bottom: -27px;
    width: max-content;
    left: 1.5em;
    z-index: 1;
}